on:
  workflow_call:
    inputs:
      lfs:
        type: boolean
        required: false
        default: false
      platforms:
        type: string
        required: false
        default: linux/arm64,linux/amd64
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 10
          fetch-tags: true
          lfs: ${{ inputs.lfs }}
      - name: Tag
        uses: martoc/action-tag@v0
      - name: Container Build
        uses: martoc/action-container-build@v0
        with:
          platforms: ${{ inputs.platforms }}
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      - name: Release on GitHub
        uses: martoc/action-release@v0
        if: ${{ github.event_name != 'pull_request' }}
